/* All items */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
/*All header contents including container itself */
.header {
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row {
    margin-top: 50px;
}
/* Container hold all header content */
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/* ------ NAV BAR ------ */
#logo img {
    width: 125px;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 2;

}

nav{
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
#navbar-cart-img {
    height:30px;
    width: 30px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
/* Title bar and inital photo */
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn {
    display: inline-block;
    background-color: #ff523b;
    color: white;
    padding: 8px 30px;
    margin:30px 0;
    border-radius: 50px;
    transition: background-color 0.5s;
    -webkit-animation: breathing 2s ease-out infinite normal;
}
/* Breathing animation for button */
@-webkit-keyframes breathing {
    0% {
      -webkit-transform: scale(0.975);
      transform: scale(0.975);
    }
    10% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    20% {
      -webkit-transform: scale(1.025);
      transform: scale(1.025);
    }
    30% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    40% {
      -webkit-transform: scale(1.075);
      transform: scale(1.075);
    }
    50% {
        -webkit-transform: scale(1.10);
        transform: scale(1.10);
    }
    60% {
        -webkit-transform: scale(1.075);
        transform: scale(1.075);
    }    
    70% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }    
    80% {
          -webkit-transform: scale(1.025);
          transform: scale(1.025);
    }  
    90% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(.975);
        transform: scale(.975);
    }
  }
.btn:hover {
    background-color: #563434;
}
/* ----- Featured category section ----- */
.categories {
    margin:70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img {
    width:100%;
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/* ----- Featured Products section ----- */
.col-4 {
    flex-basis: 22%;
    padding:5px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img {
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after {
    content: '';
    background: #ff523b;
    width: 120px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4 {
    color: #555;
    font-weight: normal;
}
.col-4 img {
    transition: border 0.5s;
    border-radius: 5px;
}
.col-4 p {
    font-size: 14px;
}
.rating i {
    color: #ff523b;
}
.col-4:hover {
    transform: translateY(5px);
}
.col-4:hover img{
    border: 1px solid #ff523b;
}
.products-container {
    max-width: 2000px;
    margin: auto;
}
/* Offer section */
.offer{
    background:radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}
.col-2 a{
    margin: 20px;
}
/* Testiomonial section */
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 2%;
    transition: all 0.5s;
    transition-property: transform, border;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover {
    transform: translateY(-10px);    
    border: 1px solid #ff523b;
}
.testimonial .col-3 p {
    margin: 0 20px;
}